body {
    font-family: 'Architects Daughter', cursive;
    background-color: #161616;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

img {
    height: 100%;
    width: 100%; 
    border-radius: 50%;
}

#selections-box button {
    background-color: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 0;
}

input {
    width: 30px;

    text-align: center;
    border: none;

}

.align-center {
    text-align: center;
}

.reset-button {
    height: 40px;
    width: 100px;
    margin-top: 20px;

    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.1em;

    border: 5px solid rgb(202, 48, 1);
    background: none;
}

.reset-button:hover {
    border-top: 5px solid green;
    border-right: 5px solid rebeccapurple;
    border-bottom: 5px solid orange;
    border-left: 5px solid rebeccapurple;
    transition-duration: 100ms;
}

#selections-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

#rock {
    border: 4px solid green;
    background-size: cover;
}

#paper {
    border: 4px solid rebeccapurple;
    background-size: cover;
}

#scissor {
    border: 4px solid orange;
    background-size: cover;
}

#rock:hover {
    border: 4px solid lightgreen;
}

#paper:hover {
    border: 4px solid rgb(190, 14, 190);
}

#scissor:hover {
    border: 4px solid rgb(255, 217, 0);
}

#left-column-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#middle-column-box {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right-column-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    text-align: center;
    text-transform: capitalize;
}

#main-container {
    height: 70vh;
    display: flex;
}

#standings {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#scores {
    font-size: 6vw;
    margin: 30px;

}

.players {
    font-size: 35px;
    font-weight: 500;
    padding: 10px;
    text-decoration: underline;
    text-transform: capitalize;
}

.choice {
    font-size: 30px;
    text-transform: uppercase;
}